.section {
	height: 100vh;
	.content	{
		font-size: 3em;
		margin:0;
		padding-top: 5%;
		text-align: center;
	}
}
.one {
	background-color: #75B54F;
}
.two {
	background-color: #32E0FF;
}
//Robins del homies
.three {

	background-color: #CC7082;

		#head-slogan {
			position: relative;
			font-size: 2.4em;
			text-align: center;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		#button-wrapper {
			position: relative;
			top: 30%;
			width: 400px;
			height: 200px;	
			margin: auto;
			font-size: 5em;
			text-align: center;

				.button {
					position: absolute;
					width: 50%;
					font-size: 2em;
					cursor: pointer;
					padding-top: 50px;
					padding-bottom:50px;
				}

				#no {
					background-color: red;
					left: 50%;
				}

				#yes {
					background-color: green;
				}

		}

		#final-answer {
			position: relative;
			top: 30%;
			width: 400px;
			padding: 50px 0px 50px 0px;	
			margin: auto;
			font-size: 5em;
			text-align: center;
			cursor: pointer;
			background-color: green;
		}
}

#character-wrapper {
	width: 100%;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  
  	-webkit-flex-flow: row wrap;
  	-webkit-justify-content: space-around;

  		.headbox {
  			width: 30%;
  			height: 30%;
  		}

  		#lisa-head {
  			background-image: url(../Images/lisa-head.png);
  			background-repeat: no-repeat;
  			background-size: contain;
  		}

  		#tobbe-head {
  			background-image: url(../Images/tobbe-head.png);
  			background-repeat: no-repeat;
  			background-size: contain;
  		}

  		#robin-head {
  			background-image: url(../Images/robin-head.png);
  			background-repeat: no-repeat;
  			background-size: contain;
  		}
}

#player-wrapper {
	position: relative;
	background-repeat: no-repeat;
  	background-size: contain;
	width: 400px;
	height: 90%;
	top: 10%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

//Robins del homies
.four {
	background-color: #8EC1FF;
}