.section {
	height: 100vh;
	.content	{
		font-size: 3em;
		margin:0;
		padding-top: 5%;
		text-align: center;
	}
}
.one {
	background-color: #75B54F;
}
.two {
	background-color: #32E0FF;
}
.three {
	background-color: #CC7082;
}
.four {
	background-color: #8EC1FF;
}