.three {

		#head-slogan {
			font-size: 5em;
			padding-top: 35px;
			padding-bottom: 35px;
		}
}

#character-wrapper{
	height: 80%;
  		.headbox {
  			width: 25%;
  			height: 100%;

  				p {
  					top: 10%;
  					font-size: 2em;
  					text-align: center;
  					visibility: visible;
  				}
  		}
}